body {
    font-family: "新丸ゴ R JIS2004 AP";
    line-height: 1.6;
    margin: 20px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.image-container {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

header p {
    font-family: "新丸ゴ R JIS2004 AP";
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #ddd;
    padding: 0 20px;
}

.title {
    font-size: 24px;
    margin: 0;
}

.menu {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    margin-right: 8px;
}

.menu-icon div {
    width: 100%;
    height: 3px;
    background-color: #000;
    transition: background-color 0.3s, transform 0.3s; /* スムーズな変化を追加 */
}

.menu-icon:hover div {
    background-color: #333; /* カーソルを合わせたときの色 */
    transform: scale(1.1); /* サイズを少し大きくする */
}

.menu-icon.open div {
    background-color: #333;
}



.menu-items {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 20px;
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
}

.menu-items a {
    text-decoration: none;
    color: black;
    margin: 5px 0;
}

.menu-items.open {
    display: flex;
}



img {
    max-width: 30%;
    margin: 20px;
    cursor: pointer;
}

img:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0.8;
}

.small-image {
    width: 30%;
    cursor: default;
    box-shadow: none;
    opacity: 1;
    margin-bottom: 40px;
    display: inline-block;
    vertical-align: middle;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
}

.custom-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #816759;
    text-align: center;
    text-decoration: none;
    border: 2px solid #816759;
    border-radius: 30px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
    padding-right: 20px;
    margin-top: 0px;
}

.custom-button:hover {
    background-color: #816759;
    color: white;
}

.custom-button2 {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #816759;
    text-align: center;
    text-decoration: none;
    border: 2px solid #816759;
    border-radius: 30px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    padding-right: 20px;
    margin-top: 15px; /* 上のマージンを追加して下に移動 */
    position: static; /* 絶対位置指定を解除 */

    
}

.arrow {
    font-size: 16px;
    margin-left: 10px;
}

.custom-button2:hover {
    background-color: #816759;
    color: white;
}

.custom-button3 {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #816759;
    text-align: center;
    text-decoration: none;
    border: 2px solid #816759;
    border-radius: 30px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
    padding-right: 20px;
    margin-top: 20px;
    position: static;

}

.custom-button3:hover {
    background-color: #816759;
    /* ホバー時に背景色を変更 */
    color: white;
}


.result-text {
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.about-text {
    padding: 0 20px;
    /* 左右に20pxのパディングを追加 */
    margin-top: 20px;
    /* 上のマージンを追加 */
    margin-bottom: 20px;
    /* 下のマージンを追加 */


}

.large-image {
    width: 90%;
    /* 画像の幅をコンテナの幅に合わせて100%にする */
    max-width: 800px;
    /* 最大幅を800pxに制限 */
    height: auto;
    /* 高さを自動調整 */
    pointer-events: none;
    /* カーソルを合わせても反応しない */
}